<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="businessConclusion_list" th:fragment="businessConclusion_list">
    <div th:replace="fragments/alert"></div>
    <table class="table" id="businessConclusionTable">
        <thead class="table-secondary">
        <tr>
            <th scope="col">Оценщик</th>
            <th scope="col">№ заключения</th>
            <th scope="col">Дата выдачи</th>
            <th scope="col">Объект оценки</th>
            <th scope="col">Предмет оценки</th>
            <th scope="col">Результат независимой оценки</th>
            <th scope="col">Просмотр</th>
            <th scope="col">Редактирование</th>
            <th scope="col">Удаление</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="businessConclusion : ${businessConclusions}" th:object="${businessConclusion}">
            <td style="display: none">
                <div class="pid" th:text="*{pid}"></div>
            </td>
            <td th:text="*{appraiser.lastNameAndInitials()}"></td>
            <td th:text="*{conclusionNumber}"></td>
            <td th:text="*{dateOfIssue}"></td>
            <td th:text="*{subjectOfAssessment}"></td>
            <td th:text="*{typeOfValue}"></td>
            <td th:text="*{evaluationResult}"></td>
            <td>
                <a th:href="@{conclusions/businessConclusions/showConcliusion/(pid=*{pid})}" class="btn btn-success showBtn">
                    Просмотр
                </a>
            </td>
            <td>
                <a th:href="@{conclusions/businessConclusions/editConclusion/(pid=*{pid})}" class="btn btn-warning editBtn">
                    Редактирование
                </a>
            <td>
                <a th:href="@{conclusions/businessConclusions/deleteConclusion/(pid=*{pid})}" class="btn btn-danger deleteBtn">
                    Удаление
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="addConclusionModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true"></div>
    <div class="modal fade" id="editConclusionModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true"></div>
    <div th:replace="conclusions/businessConclusions/modal/deleteConclusion">
    </div>
</div>
</html>