<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="appraiser_list" th:fragment="appraiser_list">
    <div th:replace="fragments/alert"></div>
    <table class="table" id="appraiserTable">
        <thead class="table-secondary">
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Место работы</th>
            <th scope="col">Оценка бизнеса</th>
            <th scope="col">Оценка земельных участков</th>
            <th scope="col">Оценка недвижимости</th>
            <th scope="col">Оценка оборудования и транспорта</th>
            <th scope="col">Оценка интеллектуальной собственности</th>
            <th scope="col">Просмотр</th>
            <th scope="col" sec:authorize="hasAuthority('ADMIN')">Редактирование</th>
            <th scope="col" sec:authorize="hasAuthority('ADMIN')">Удаление</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="appraiser : ${appraisers}" th:object="${appraiser}">
            <td style="display: none">
                <div class="pid" th:text="*{pid}"></div>
            </td>
            <td th:text="*{lastNameAndInitials()}"></td>
            <td th:text="*{placeOfWork}"></td>
            <td th:text="*{businessCertificate}"></td>
            <td th:text="*{landCertificate}"></td>
            <td th:text="*{propertyCertificate}"></td>
            <td th:text="*{equipmentCertificate}"></td>
            <td th:text="*{intellectCertificate}"></td>
            <td>
                <a th:href="@{appraisers/showAppraiser/(pid=*{pid})}" class="btn btn-success showBtn">
                    Просмотр
                </a>
            </td>
            <td>
                <a th:href="@{appraisers/editAppraiser/(pid=*{pid})}" class="btn btn-warning editBtn"
                   sec:authorize="hasAuthority('ADMIN')">
                    Редактирование
                </a>
            <td>
                <a th:href="@{appraisers/deleteAppraiser/(pid=*{pid})}" class="btn btn-danger deleteBtn"
                   sec:authorize="hasAuthority('ADMIN')">
                    Удаление
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true"></div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true"></div>
    <div th:replace="appraisers/modal/deleteAppraiser">
    </div>
</div>
</html>